{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static 'css/manager_dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-QVvLDa2WCZP7dyk+uUnbEFHFLr2pwBgOWvlNh1YxKie3m1BcB2jXfzZIZyJABCGtzLNcF+B8deX13lyVTrT8vg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>

<body style="
      background-image: url('{% static 'img/backgroundimg.png' %}');
      width: 100%;
      background-size: cover;">
    <div class="wrapper">

        <aside id="sidebar">
            <div class="container-fluid mx-auto">
                <p class="fontoflogo ms-4">Workflow</p>
            </div>
            <div class="container-sm user-card">
                <a href="user_profile.html">
                    <img src="{{manager.image.url}}" alt="User Image" class="user-image">
                </a>

                <div class="user-info d-sm-none d-md-block d-none d-sm-block d-md-none d-lg-block">
                    <h3 class="user-name">{{manager.FirstName}} {{manager.LastName}}</h3>
                    <p class="user-role">Manager</p>
                </div>
            </div>
            <ul class="sidebar-nav nav-pills">
                <li class="sidebar-item nav-pills">
                    <a href="manager_dashboard.html" class="sidebar-link nav-link active">
                        <span class="material-icons md-28 ">
                            dashboard
                        </span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/ManagerProject" class="sidebar-link">
                        <span class="material-symbols-outlined md-48">
                            badge
                        </span>
                        <span>Projects</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="/ManagerTeam" class="sidebar-link">
                        <span class="material-icons">
                            people
                        </span>
                        <span>Team</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/ManagerTask" class="sidebar-link">
                        <span class="material-icons">
                            list
                        </span>
                        <span>Tasks</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/job" class="sidebar-link">
                        <span class="material-icons">
                            assessment
                        </span>
                        <span>HR Reports</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'logout' %}" class="sidebar-link">
                        <span class="material-symbols-outlined">
                            logout
                        </span>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </aside>

        <div class="main p-3">
            <h1>Manager Dashboard</h1>

            <div class="row mt-4 ">
                <div class="col mb-3">
                    <div class="card card-hover" style="background-image: url('{% static 'img/20.png' %}'); background-position: center; background-size: 400px;">
                        <img class="widgetimg ms-3 mt-2" src="{% static 'img/icons/icon2.png' %}" alt="">
                        <div>
                            <p class="widgettxt mt-2 ms-2">Active Employees</p>
                            <span class="large-font ms-3">{{employeesCount}}</span>
                        </div>
                    </div>
                </div>
                
                <div class="col mb-3">
                    <a href="/ManagerProject" class="card card-hover" style="background-image: url('{% static 'img/PrismGradient.png' %}');
                    background-position: center;">
                        <img class="widgetimg ms-3 mt-2" src="{% static 'img/icons/icon1.png' %}" alt="">
                        <div>
                            <p class="widgettxt mt-2 ms-2">Ongoing Projects</p>
                            <span class="large-font ms-3">{{project_count}}</span>
                        </div>
                    </a>
                </div>
                <div class="col mb-3">
                    <a  href="/leaverequest" class="card card-hover" style="background-image: url('{% static 'img/14.png' %}');
                    background-position:  center;   background-size: 400px;">
                        <img class="widgetimg ms-3 mt-2" src="{% static 'img/icons/icon3.png' %}" alt="">
                        <div>
                            <p class="widgettxt mt-2 ms-2">Leave Request</p>
                            <span class="large-font ms-3">{{leave}}</span>
                        </div>
                    </a>
                </div>
                <div class="col mb-3">
                    <a  href="/RecruitRequest" class="card card-hover" style="background-image: url('{% static 'img/32.png' %}');
                    background-position: center;background-size: 400px; ">
                        <img class="widgetimg ms-3 mt-2" src="{% static 'img/icons/icon4.png' %}" alt="">
                        <div>
                            <p class="widgettxt mt-2 ms-2">HR Request</p>
                            <span class="widgettxt ms-2">Recruit Request</span>
                        </div>
                    </a>
                </div>
            </div>

            <article class="table-widget">
                <div class="caption">
                    <h2>Project Overview</h2>
                    <button class="export-btn" type="button">Export</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Status</th>
                            <th>Task</th>
                            <th>Due Date</th>
                            <th>Team Name</th>
                            <th>Project Lead</th>
                            <th>Priority</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody id="project-rows">
                        {% for project in projects %}
                        <tr>
                            <td class="tabletxt">{{ project.ProjectName }} </td>
                            <!-- Loop through task_data and team_data to display related tasks and teams -->
                            {% for task in task_data %}
                            {% for team in team_data %}
                            {% if task.ProjectID_id == project.ProjectID %}
                            {% if team.TaskID_id == task.TaskID %}
                            <td>
                                <div class="status">
                                    <div class="status__circle status--active"></div>{{ project.Status }}
                                </div>
                            </td>
                            <td>
                                {% for task in project.task_set.all %}


                                <div class="tags">
                                    <div class="tag tag--dev mb-2">
                                        {{ task.Title }}
                                    </div>
                                </div>
                                {% endfor %}
                            </td>
                            <td>{{ project.DueDate }}</td>
                            <td>{{ team.TeamName }}</td>
                            <td>{{ project.ProjectLead }}</td>
                            <td>{{ project.Priority }}</td>

                            {% endif %}
                            {% endif %}
                            {% endfor %}




                            {% comment %} {% for team in team_data %}
                            {% if team.TaskID_id == task.TaskID %}
                            <td>{{ team.TeamName }}</td> {% endcomment %}
                            {% comment %} {% endif %} {% endcomment %}

                            {% endfor %}
                            <!-- Add action buttons -->
                            <td>
                                <div class="tags action-cell">
                                    <a href="{% url 'project_overview' project.ProjectID %}" class="">
                                        <span class="material-symbols-outlined me-2">
                                            visibility
                                        </span> <!-- Font Awesome icon for View -->
                                    </a>

                                    <a href="{% url 'ManagerProjectEdit' project.ProjectID %}?next={{ request.path }}">
                                        <a href="{% url 'edit_project' project.ProjectID %}?next={{ request.path }}">
                                            <span class="material-symbols-outlined">
                                                edit_square
                                            </span> <!-- Font Awesome icon for Edit -->
                                        </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </article>
        </div>
        

    </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
                src = "script.js"
            </script>
</body>

</html>